openapi: 3.1.0
info:
  title: estate-dashboard API
  version: 1.0.0
  description: >-
    The contract the Go server (ogen) and the Vue client (@hey-api/openapi-ts) are both generated
    from. Change this document first; `task gen` regenerates both sides and `task gen:check` fails
    when either is stale.
  contact:
    name: Joris Jonkers
    url: https://github.com/JorisJonkers-dev
  license:
    name: Proprietary
    url: https://github.com/JorisJonkers-dev/estate-dashboard/blob/main/LICENSE
servers:
  - url: https://estate.jorisjonkers.dev
    description: Production. The SPA and the API share one origin.
    x-internal: false
security:
  - sessionCookie: []
tags:
  - name: session
    description: Who is signed in.
  - name: alerts
    description: >-
      The alerts Alertmanager holds now, what the dashboard recorded about them, and the silences it
      sets there, its one write.
paths:
  /api/v1/session:
    get:
      operationId: getSession
      summary: Say who is signed in
      description: >-
        Returns the admin the session cookie belongs to. A request without a session, or with one
        auth no longer stands behind, gets a 401: the web app then shows the sign-in page.
      tags: [session]
      responses:
        "200":
          description: The signed-in admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/alerts:
    get:
      operationId: listAlerts
      summary: List the alerts firing now, newest first
      description: >-
        Returns every alert Alertmanager holds now, silenced or not, newest first. Read from
        Alertmanager on every request; nothing here is copied into the dashboard's database. A 503
        means Alertmanager did not answer.
      tags: [alerts]
      responses:
        "200":
          description: The alerts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertList"
        "401":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/alerts/{fingerprint}/silences:
    post:
      operationId: silenceAlert
      summary: Silence an alert in Alertmanager
      description: >-
        Silences one firing alert, matching every one of its labels exactly, for an hour, four
        hours, a day, or until it resolves. The silence is set in Alertmanager, so Discord goes
        quiet too; it is the dashboard's only write. A silence until resolved lasts at most seven
        days in Alertmanager and is ended as soon as the dashboard sees the alert resolve. A 404
        means the alert is not firing; a 503 that Alertmanager did not answer.
      tags: [alerts]
      parameters:
        - name: fingerprint
          in: path
          required: true
          description: Alertmanager's fingerprint of the alert.
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: "^[0-9a-f]+$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SilenceRequest"
      responses:
        "201":
          description: The silence Alertmanager now holds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Silence"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/alerts/history:
    get:
      operationId: listAlertHistory
      summary: List the states alerts were seen in, newest first
      description: >-
        Returns at most `limit` events, newest first. An event is one state of one firing of an
        alert: it fired, or it resolved. Alertmanager forgets a resolved alert; this is the
        dashboard's own record.
      tags: [alerts]
      parameters:
        - name: limit
          in: query
          required: false
          description: How many events to return.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: The events.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertHistory"
        "400":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-estate_session
      description: >-
        The dashboard's own session, set when an admin signs in through auth at `/auth/login`. The
        cookie holds a sealed session id and nothing else. The server refuses a request without a
        live session of an account that holds the admin role; on a local run DEV_USER stands in.
  responses:
    Problem:
      description: An RFC 9457 problem.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    Alert:
      description: One alert Alertmanager holds now.
      type: object
      additionalProperties: false
      required: [fingerprint, name, startsAt, labels, silencedBy]
      properties:
        fingerprint:
          type: string
          minLength: 1
          maxLength: 64
          description: Alertmanager's fingerprint of the alert.
          example: 9f2c1a7b3d4e5f60
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: The alert's name, its alertname label.
          example: ReleaseHeld
        class:
          type: string
          enum: [business-hours, urgent, page]
          description: >-
            How loudly the alert wakes someone, from its alert_class label. Absent on an alert whose
            rule carries no class the dashboard knows.
          example: urgent
        summary:
          type: string
          maxLength: 1024
          description: The rule's summary annotation, where it carries one.
          example: auth is held at its serving revision.
        startsAt:
          type: string
          format: date-time
          maxLength: 64
          description: When this firing of the alert started.
          example: "2026-10-03T07:00:00Z"
        labels:
          type: object
          maxProperties: 64
          description: Every label of the alert.
          additionalProperties:
            type: string
            maxLength: 1024
          example:
            alertname: ReleaseHeld
            namespace: auth-system
        silencedBy:
          type: array
          maxItems: 64
          description: The id of every silence that holds the alert quiet now; empty when none does.
          items:
            type: string
            minLength: 1
            maxLength: 64
    AlertList:
      description: The alerts firing now, newest first.
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 1000
          description: The alerts.
          items:
            $ref: "#/components/schemas/Alert"
    SilenceRequest:
      description: How long to silence an alert for.
      type: object
      additionalProperties: false
      required: [length]
      properties:
        length:
          type: string
          enum: [1h, 4h, 1d, until-resolved]
          description: An hour, four hours, a day, or until the alert resolves.
          example: 4h
    Silence:
      description: A silence the dashboard set in Alertmanager.
      type: object
      additionalProperties: false
      required: [id, fingerprint, createdBy, createdAt]
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 64
          description: Alertmanager's id of the silence.
          example: 6b3f1c2a-7d4e-4f50-8a91-0b2c3d4e5f60
        fingerprint:
          type: string
          minLength: 1
          maxLength: 64
          description: The silenced alert's fingerprint.
          example: 9f2c1a7b3d4e5f60
        createdBy:
          type: string
          minLength: 1
          maxLength: 255
          description: The admin who set it.
          example: joris
        createdAt:
          type: string
          format: date-time
          maxLength: 64
          description: When it was set.
          example: "2026-10-03T07:05:00Z"
        endsAt:
          type: string
          format: date-time
          maxLength: 64
          description: When it ends. Absent on a silence that lasts until the alert resolves.
          example: "2026-10-03T11:05:00Z"
    AlertEvent:
      description: One state an alert was seen in.
      type: object
      additionalProperties: false
      required: [id, fingerprint, name, status, startsAt, observedAt]
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: The event's id.
          example: 42
        fingerprint:
          type: string
          minLength: 1
          maxLength: 64
          description: Alertmanager's fingerprint of the alert.
          example: 9f2c1a7b3d4e5f60
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: The alert's name.
          example: CollectorStopped
        status:
          type: string
          enum: [firing, resolved]
          description: The state the alert was seen in.
          example: resolved
        startsAt:
          type: string
          format: date-time
          maxLength: 64
          description: When this firing of the alert started.
          example: "2026-10-03T07:00:00Z"
        endsAt:
          type: string
          format: date-time
          maxLength: 64
          description: When the alert resolved. Present exactly when the status is resolved.
          example: "2026-10-03T07:30:00Z"
        observedAt:
          type: string
          format: date-time
          maxLength: 64
          description: When the dashboard saw the alert in this state.
          example: "2026-10-03T07:30:20Z"
    Session:
      description: The signed-in admin.
      type: object
      additionalProperties: false
      required: [subject, name]
      properties:
        subject:
          type: string
          minLength: 1
          maxLength: 255
          description: The account's id in auth.
          example: 3f6c2a1e-8b7d-4c5f-9a10-2b3c4d5e6f70
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: What to call the admin, which is the account's username.
          example: joris
    AlertHistory:
      description: A page of events, newest first.
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 100
          description: The events.
          items:
            $ref: "#/components/schemas/AlertEvent"
    Problem:
      description: An RFC 9457 problem detail.
      type: object
      additionalProperties: false
      required: [type, title, status]
      properties:
        type:
          type: string
          maxLength: 256
          description: A URI naming the problem type.
          example: about:blank
        title:
          type: string
          maxLength: 256
          description: A short summary of the problem type.
          example: Bad request
        status:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          description: The HTTP status code.
          example: 400
        detail:
          type: string
          maxLength: 1024
          description: What went wrong in this occurrence.
          example: The limit is out of range.
