openapi: 3.1.0
info:
  title: estate-dashboard API
  version: 1.0.0
  description: >-
    The contract the Go server (ogen) and the Vue client (@hey-api/openapi-ts) are both generated
    from. Change this document first; `task gen` regenerates both sides and `task gen:check` fails
    when either is stale.
  contact:
    name: Joris Jonkers
    url: https://github.com/JorisJonkers-dev
  license:
    name: Proprietary
    url: https://github.com/JorisJonkers-dev/estate-dashboard/blob/main/LICENSE
servers:
  - url: https://estate.jorisjonkers.dev
    description: Production. The SPA and the API share one origin.
    x-internal: false
security:
  - sessionCookie: []
tags:
  - name: estate
    description: >-
      What the Estate repository says, read through a token that may read it and nothing else: each
      Project's pin, the commits that moved it, and the open issues.
  - name: delivery
    description: >-
      What the cluster says about delivery, read through a ServiceAccount that may get, list and
      watch and nothing else: Flux's sources and units, and each gated Application's release.
  - name: session
    description: Who is signed in.
  - name: alerts
    description: >-
      The alerts Alertmanager holds now, what the dashboard recorded about them, and the silences it
      sets there, its one write.
paths:
  /api/v1/session:
    get:
      operationId: getSession
      summary: Say who is signed in
      description: >-
        Returns the admin the session cookie belongs to. A request without a session, or with one
        auth no longer stands behind, gets a 401: the web app then shows the sign-in page.
      tags: [session]
      responses:
        "200":
          description: The signed-in admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/alerts:
    get:
      operationId: listAlerts
      summary: List the alerts firing now, newest first
      description: >-
        Returns every alert Alertmanager holds now, silenced or not, newest first. Read from
        Alertmanager on every request; nothing here is copied into the dashboard's database. A 503
        means Alertmanager did not answer.
      tags: [alerts]
      responses:
        "200":
          description: The alerts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertList"
        "401":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/alerts/{fingerprint}/silences:
    post:
      operationId: silenceAlert
      summary: Silence an alert in Alertmanager
      description: >-
        Silences one firing alert, matching every one of its labels exactly, for an hour, four
        hours, a day, or until it resolves. The silence is set in Alertmanager, so Discord goes
        quiet too; it is the dashboard's only write. A silence until resolved lasts at most seven
        days in Alertmanager and is ended as soon as the dashboard sees the alert resolve. A 404
        means the alert is not firing; a 503 that Alertmanager did not answer.
      tags: [alerts]
      parameters:
        - name: fingerprint
          in: path
          required: true
          description: Alertmanager's fingerprint of the alert.
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: "^[0-9a-f]+$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SilenceRequest"
      responses:
        "201":
          description: The silence Alertmanager now holds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Silence"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/estate/pins:
    get:
      operationId: listPins
      summary: List every Project's pin, by Project
      description: >-
        Every projects/<project>/source.yaml on the Estate repository's default branch: the digest its source names, and a Pause or a Rollback recorded on it. A 503 means GitHub did not answer, or the dashboard runs without the Estate repository.
      tags: [estate]
      responses:
        "200":
          description: What the Estate repository holds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PinList"
        "401":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/estate/projects/{project}/deploys:
    get:
      operationId: listDeploys
      summary: List the commits that moved a Project's pin, newest first
      description: >-
        The Estate repository's history of projects/<project>/source.yaml: its deploy log. A Project with no pin has none. A 503 means GitHub did not answer, or the dashboard runs without the Estate repository.
      tags: [estate]
      parameters:
        - name: project
          in: path
          required: true
          description: The Project.
          schema:
            type: string
            minLength: 1
            maxLength: 63
            pattern: "^[a-z0-9_][a-z0-9_-]{0,62}$"
        - name: limit
          in: query
          required: false
          description: How many deploys to return.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: What the Estate repository holds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployList"
        "401":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/estate/issues:
    get:
      operationId: listIssues
      summary: List the open issues, most recently updated first
      description: >-
        The Estate repository's open issues: one per Project condition the composition keeps open. At most one page of 100. A 503 means GitHub did not answer, or the dashboard runs without the Estate repository.
      tags: [estate]
      responses:
        "200":
          description: What the Estate repository holds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueList"
        "401":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/delivery/sources:
    get:
      operationId: listSources
      summary: List the pin sources, by name
      description: >-
        Every Flux OCIRepository the render wrote: the artifact it names by digest, what Flux last fetched, and whether it is ready. A 503 means the cluster did not answer, or the dashboard runs without one.
      tags: [delivery]
      responses:
        "200":
          description: What the cluster holds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceList"
        "401":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/delivery/units:
    get:
      operationId: listUnits
      summary: List the Reconcile Units, by name
      description: >-
        Every Flux Kustomization the render wrote: its source, its path, the units it follows, what it last applied, and whether it is ready. A 503 means the cluster did not answer, or the dashboard runs without one.
      tags: [delivery]
      responses:
        "200":
          description: What the cluster holds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitList"
        "401":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/delivery/releases:
    get:
      operationId: listReleases
      summary: List the gated Applications and their releases
      description: >-
        Every Application whose release-gate inputs the render wrote, by namespace and Application: each member as Flagger switches it, the migration the gate may start, and what the Release Gate recorded it serves and saw pinned. A 503 means the cluster did not answer, or the dashboard runs without one.
      tags: [delivery]
      responses:
        "200":
          description: What the cluster holds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseList"
        "401":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /api/v1/alerts/history:
    get:
      operationId: listAlertHistory
      summary: List the states alerts were seen in, newest first
      description: >-
        Returns at most `limit` events, newest first. An event is one state of one firing of an
        alert: it fired, or it resolved. Alertmanager forgets a resolved alert; this is the
        dashboard's own record.
      tags: [alerts]
      parameters:
        - name: limit
          in: query
          required: false
          description: How many events to return.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: The events.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertHistory"
        "400":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-estate_session
      description: >-
        The dashboard's own session, set when an admin signs in through auth at `/auth/login`. The
        cookie holds a sealed session id and nothing else. The server refuses a request without a
        live session of an account that holds the admin role; on a local run DEV_USER stands in.
  responses:
    Problem:
      description: An RFC 9457 problem.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    Pin:
      description: One Project's pin.
      type: object
      additionalProperties: false
      required: [project, digest]
      properties:
        project:
          type: string
          minLength: 1
          maxLength: 63
          description: The Project.
          example: auth
        digest:
          type: string
          maxLength: 128
          description: The digest its source names; empty where the pin file holds no source.
        paused:
          $ref: "#/components/schemas/Pause"
        rolledBack:
          $ref: "#/components/schemas/Rollback"
    Pause:
      description: What a Pause or a Rollback recorded on a pin.
      type: object
      additionalProperties: false
      required: [by, at, reason]
      properties:
        by:
          type: string
          maxLength: 255
          description: The GitHub login that ran it.
        at:
          type: string
          maxLength: 64
          description: When, as recorded.
        reason:
          type: string
          maxLength: 1024
          description: The reason given.
    Rollback:
      description: The release a Rollback took the Project back to.
      type: object
      additionalProperties: false
      required: [version, fragment]
      properties:
        version:
          type: string
          maxLength: 64
          description: The release version.
        fragment:
          type: string
          maxLength: 256
          description: That release's fragment, by digest.
    PinList:
      description: Every Project's pin, by Project.
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 1000
          description: The pins.
          items:
            $ref: "#/components/schemas/Pin"
    Deploy:
      description: One commit that moved a pin.
      type: object
      additionalProperties: false
      required: [commit, at, message]
      properties:
        commit:
          type: string
          minLength: 1
          maxLength: 64
          description: The commit.
        at:
          type: string
          format: date-time
          maxLength: 64
          description: When it was committed.
        message:
          type: string
          maxLength: 1024
          description: Its subject line.
    DeployList:
      description: A Project's deploys, newest first.
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 100
          description: The deploys.
          items:
            $ref: "#/components/schemas/Deploy"
    Issue:
      description: One open issue of the Estate repository.
      type: object
      additionalProperties: false
      required: [number, title, url, labels, updatedAt]
      properties:
        number:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
          description: The issue number.
        title:
          type: string
          maxLength: 1024
          description: Its title.
        url:
          type: string
          maxLength: 1024
          description: Where it is on GitHub.
        labels:
          type: array
          maxItems: 100
          description: Its labels.
          items:
            type: string
            maxLength: 255
        updatedAt:
          type: string
          format: date-time
          maxLength: 64
          description: When it last changed.
    IssueList:
      description: The open issues, most recently updated first.
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 100
          description: The issues.
          items:
            $ref: "#/components/schemas/Issue"
    Source:
      description: One Flux OCIRepository.
      type: object
      additionalProperties: false
      required: [name, url, digest, ready]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 253
          description: The source's name, project-<project> or estate.
          example: project-auth
        url:
          type: string
          maxLength: 1024
          description: The OCI repository of the artifact.
          example: oci://ghcr.io/jorisjonkers-dev/render/auth
        digest:
          type: string
          maxLength: 128
          description: The digest the pin names; sixty-four zeros until the first publish.
        revision:
          type: string
          maxLength: 128
          description: What Flux last fetched, where it fetched anything.
        ready:
          type: boolean
          description: Whether Flux reports the object Ready.
        reason:
          type: string
          maxLength: 256
          description: The Ready condition's reason, where there is one.
        message:
          type: string
          maxLength: 4096
          description: The Ready condition's message, where there is one.
    SourceList:
      description: The pin sources, by name.
      type: object
      additionalProperties: false
      required: [items, truncated]
      properties:
        truncated:
          type: boolean
          description: >-
            Whether the cluster holds more than one read returns. A read is bounded, so a cluster
            holding more says so here rather than leaving the rest out unseen.
        items:
          type: array
          maxItems: 1000
          description: The sources.
          items:
            $ref: "#/components/schemas/Source"
    Unit:
      description: One Flux Kustomization, one Reconcile Unit.
      type: object
      additionalProperties: false
      required: [name, source, path, dependsOn, ready]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 253
          description: The unit's name.
          example: apps-auth
        source:
          type: string
          maxLength: 253
          description: The source it applies from.
          example: project-auth
        path:
          type: string
          maxLength: 1024
          description: The directory of the artifact it applies.
          example: ./apps/auth
        dependsOn:
          type: array
          maxItems: 256
          description: The units it follows.
          items:
            type: string
            maxLength: 253
        applied:
          type: string
          maxLength: 128
          description: The source revision Flux last applied, where it applied anything.
        ready:
          type: boolean
          description: Whether Flux reports the object Ready.
        reason:
          type: string
          maxLength: 256
          description: The Ready condition's reason, where there is one.
        message:
          type: string
          maxLength: 4096
          description: The Ready condition's message, where there is one.
    UnitList:
      description: The Reconcile Units, by name.
      type: object
      additionalProperties: false
      required: [items, truncated]
      properties:
        truncated:
          type: boolean
          description: >-
            Whether the cluster holds more than one read returns. A read is bounded, so a cluster
            holding more says so here rather than leaving the rest out unseen.
        items:
          type: array
          maxItems: 1000
          description: The units.
          items:
            $ref: "#/components/schemas/Unit"
    Member:
      description: One member of a gated Application, as Flagger switches it.
      type: object
      additionalProperties: false
      required: [process, iterations]
      properties:
        process:
          type: string
          minLength: 1
          maxLength: 253
          description: The member Process.
          example: auth-api
        phase:
          type: string
          maxLength: 64
          description: Flagger's phase of its Canary; absent before Flagger has seen it.
          example: Progressing
        revision:
          type: string
          maxLength: 128
          description: The Application revision its Canary's webhooks carry.
        iterations:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000000
          description: The analysis iterations Flagger has counted.
    ReleaseMigration:
      description: The migration the gate may start for a release.
      type: object
      additionalProperties: false
      required: [identity, nonTransactional]
      properties:
        identity:
          type: string
          minLength: 1
          maxLength: 253
          description: The identity its Jobs run as.
          example: auth-migration
        testedAgainst:
          type: string
          maxLength: 128
          description: The serving revision the release was proven against; absent on a first release.
        nonTransactional:
          type: boolean
          description: Whether a changeset of it cannot run in a transaction, which no undo touches.
    Release:
      description: One gated Application.
      type: object
      additionalProperties: false
      required: [namespace, application, members]
      properties:
        namespace:
          type: string
          minLength: 1
          maxLength: 63
          description: The Application's namespace.
          example: auth-system
        application:
          type: string
          minLength: 1
          maxLength: 253
          description: The Application.
          example: auth
        members:
          type: array
          maxItems: 64
          description: Its members.
          items:
            $ref: "#/components/schemas/Member"
        migration:
          $ref: "#/components/schemas/ReleaseMigration"
        serving:
          type: string
          maxLength: 128
          description: The revision the Release Gate recorded it serves; absent before it recorded one.
        pinned:
          type: string
          maxLength: 128
          description: The revision the gate saw applied and not yet serving; absent when none is.
        since:
          type: string
          format: date-time
          maxLength: 64
          description: When the gate first saw the pinned revision.
        unreadable:
          type: string
          maxLength: 256
          description: >-
            Why the rest of this release could not be read, where it could not: no inputs, inputs or
            a record that do not parse, or more members than an Application has. Absent when it was
            read whole.
          example: release-gate inputs that do not parse
    ReleaseList:
      description: The gated Applications.
      type: object
      additionalProperties: false
      required: [items, truncated]
      properties:
        truncated:
          type: boolean
          description: >-
            Whether the cluster holds more than one read returns. A read is bounded, so a cluster
            holding more says so here rather than leaving the rest out unseen.
        items:
          type: array
          maxItems: 1000
          description: The releases.
          items:
            $ref: "#/components/schemas/Release"
    Alert:
      description: One alert Alertmanager holds now.
      type: object
      additionalProperties: false
      required: [fingerprint, name, startsAt, labels, silencedBy]
      properties:
        fingerprint:
          type: string
          minLength: 1
          maxLength: 64
          description: Alertmanager's fingerprint of the alert.
          example: 9f2c1a7b3d4e5f60
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: The alert's name, its alertname label.
          example: ReleaseHeld
        class:
          type: string
          enum: [business-hours, urgent, page]
          description: >-
            How loudly the alert wakes someone, from its alert_class label. Absent on an alert whose
            rule carries no class the dashboard knows.
          example: urgent
        summary:
          type: string
          maxLength: 1024
          description: The rule's summary annotation, where it carries one.
          example: auth is held at its serving revision.
        startsAt:
          type: string
          format: date-time
          maxLength: 64
          description: When this firing of the alert started.
          example: "2026-10-03T07:00:00Z"
        labels:
          type: object
          maxProperties: 64
          description: Every label of the alert.
          additionalProperties:
            type: string
            maxLength: 1024
          example:
            alertname: ReleaseHeld
            namespace: auth-system
        silencedBy:
          type: array
          maxItems: 64
          description: The id of every silence that holds the alert quiet now; empty when none does.
          items:
            type: string
            minLength: 1
            maxLength: 64
    AlertList:
      description: The alerts firing now, newest first.
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 1000
          description: The alerts.
          items:
            $ref: "#/components/schemas/Alert"
    SilenceRequest:
      description: How long to silence an alert for.
      type: object
      additionalProperties: false
      required: [length]
      properties:
        length:
          type: string
          enum: [1h, 4h, 1d, until-resolved]
          description: An hour, four hours, a day, or until the alert resolves.
          example: 4h
    Silence:
      description: A silence the dashboard set in Alertmanager.
      type: object
      additionalProperties: false
      required: [id, fingerprint, createdBy, createdAt]
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 64
          description: Alertmanager's id of the silence.
          example: 6b3f1c2a-7d4e-4f50-8a91-0b2c3d4e5f60
        fingerprint:
          type: string
          minLength: 1
          maxLength: 64
          description: The silenced alert's fingerprint.
          example: 9f2c1a7b3d4e5f60
        createdBy:
          type: string
          minLength: 1
          maxLength: 255
          description: The admin who set it.
          example: joris
        createdAt:
          type: string
          format: date-time
          maxLength: 64
          description: When it was set.
          example: "2026-10-03T07:05:00Z"
        endsAt:
          type: string
          format: date-time
          maxLength: 64
          description: When it ends. Absent on a silence that lasts until the alert resolves.
          example: "2026-10-03T11:05:00Z"
    AlertEvent:
      description: One state an alert was seen in.
      type: object
      additionalProperties: false
      required: [id, fingerprint, name, status, startsAt, observedAt]
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854775807
          description: The event's id.
          example: 42
        fingerprint:
          type: string
          minLength: 1
          maxLength: 64
          description: Alertmanager's fingerprint of the alert.
          example: 9f2c1a7b3d4e5f60
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: The alert's name.
          example: CollectorStopped
        status:
          type: string
          enum: [firing, resolved]
          description: The state the alert was seen in.
          example: resolved
        startsAt:
          type: string
          format: date-time
          maxLength: 64
          description: When this firing of the alert started.
          example: "2026-10-03T07:00:00Z"
        endsAt:
          type: string
          format: date-time
          maxLength: 64
          description: When the alert resolved. Present exactly when the status is resolved.
          example: "2026-10-03T07:30:00Z"
        observedAt:
          type: string
          format: date-time
          maxLength: 64
          description: When the dashboard saw the alert in this state.
          example: "2026-10-03T07:30:20Z"
    Session:
      description: The signed-in admin.
      type: object
      additionalProperties: false
      required: [subject, name]
      properties:
        subject:
          type: string
          minLength: 1
          maxLength: 255
          description: The account's id in auth.
          example: 3f6c2a1e-8b7d-4c5f-9a10-2b3c4d5e6f70
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: What to call the admin, which is the account's username.
          example: joris
    AlertHistory:
      description: A page of events, newest first.
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 100
          description: The events.
          items:
            $ref: "#/components/schemas/AlertEvent"
    Problem:
      description: An RFC 9457 problem detail.
      type: object
      additionalProperties: false
      required: [type, title, status]
      properties:
        type:
          type: string
          maxLength: 256
          description: A URI naming the problem type.
          example: about:blank
        title:
          type: string
          maxLength: 256
          description: A short summary of the problem type.
          example: Bad request
        status:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          description: The HTTP status code.
          example: 400
        detail:
          type: string
          maxLength: 1024
          description: What went wrong in this occurrence.
          example: The limit is out of range.
